$def with (session, route)
$:render.common.header(session, route)

<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <img usemap="#flow" src="$config.static/file/flow/flow.jpg">
      <map name="flow" id="flow">
        <area shape="rect" coords="110,286,250,320" href="$config.static/file/flow/1/1、入党申请书.doc"/>
        <area shape="rect" coords="110,421,250,510" href="$config.static/file/flow/2/1、确定积极分子支部大会会序.doc"/>
        <area shape="rect" coords="110,684,250,705" href ="$config.static/file/flow/1/1、入党申请书.doc"/>
        <area shape="rect" coords="110,706,250,724" href ="$config.static/file/flow/1/2、思想汇报.doc"/>
        <area shape="rect" coords="110,725,250,765" href ="$config.static/file/flow/1/3、积极分子考察写实表.doc"/>

        <area shape="rect" coords="330,395,470,430" href ="$config.static/file/flow/2/2、入党承诺答辩会会序.doc"/>
        <area shape="rect" coords="330,470,470,525" href ="$config.static/file/flow/2/2、入党承诺答辩会会序.doc"/>
        <area shape="rect" coords="330,700,470,770" href ="$config.static/file/flow/1/3、积极分子考察写实表.doc"/>

        <area shape="rect" coords="550,330,690,350" href ="$config.static/file/flow/1/10、自传.doc"/>
        <area shape="rect" coords="550,351,690,370" href ="$config.static/file/flow/1/11、入党志愿书.doc"/>
        <area shape="rect" coords="550,390,690,430" href ="$config.static/file/flow/1/11、入党志愿书.doc"/>

        <area shape="rect" coords="550,444,690,480" href ="$config.static/file/flow/2/3、新党员发展大会会序.doc"/>
        <area shape="rect" coords="550,758,690,774" href ="$config.static/file/flow/1/10、自传.doc"/>
        <area shape="rect" coords="550,775,690,791" href ="$config.static/file/flow/1/11、入党志愿书.doc"/>

        <area shape="rect" coords="780,323,920,360" href ="$config.static/file/flow/1/14、预备党员考察写实表.doc"\/>
        <area shape="rect" coords="780,764,920,780" href ="$config.static/file/flow/1/16、半年总结.doc"/>
        <area shape="rect" coords="780,781,920,800" href ="$config.static/file/flow/1/17、全年总结.doc"/>
        <area shape="rect" coords="780,445,920,480" href ="$config.static/file/flow/1/18、转正申请书.doc"/>

        <area shape="rect" coords="990,300,1140,340" href ="$config.static/file/flow/2/5、预备党员转正承诺答辩会会序.doc"/>
        <area shape="rect" coords="990,370,1140,415" href ="$config.static/file/flow/2/6、预备党员转正支部大会会序.doc"/>
      </map>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Tips</h3>
      </div>
      <div class="panel-body">
        <p>点击图片中部分区域可下载相关文件。</p>
      </div>
    </div>

  </div>

</div>


$:render.common.foot()
